<select [(ngModel)]="selectedAnnonce" required>
  <option *ngFor="let annonce of annonces" [ngValue]="annonce">{{annonce.name}}</option>
</select>
<select *ngIf="selectedAnnonce" [(ngModel)]="won" required>
  <option [ngValue]="true">Won</option>
  <option [ngValue]="false">Lost</option>
</select>
<select *ngIf="selectedAnnonce" [(ngModel)]="selectedContract" required>
  <option *ngFor="let contract of getContracts()" [ngValue]="contract">{{contract.name}}</option>
</select>
<select *ngIf="selectedContract" [(ngModel)]="winner1" required>
  <option *ngFor="let joueur of joueurs" [ngValue]="joueur">{{joueur.name}}</option>
</select>
<select *ngIf="selectedContract && selectedAnnonce.double" [(ngModel)]="winner2" required>
  <option *ngFor="let joueur of joueurs" [ngValue]="joueur">{{joueur.name}}</option>
</select>
<button (click)="add()">Add</button>
